In [1]:
import pandas as pd
import numpy as np

In [3]:
data = {
    'jabłko':[8,6,3,5],
    'pomarańcza':[2,2,10,7],
    'gruszka':[1,0,4,2],
    'kiwi':[0,2,0,4],
    'borówka':[2,0,0,0]
}

p = pd.DataFrame(data)
p

,jabłko,pomarańcza,gruszka,kiwi,borówka
0,8,2,1,0,2
1,6,2,0,2,0
2,3,10,4,0,0
3,5,7,2,4,0

In [4]:
p = pd.DataFrame(data,index=['Olga','Jarek','Karol','Maria'])
p

,jabłko,pomarańcza,gruszka,kiwi,borówka
Olga,8,2,1,0,2
Jarek,6,2,0,2,0
Karol,3,10,4,0,0
Maria,5,7,2,4,0

In [5]:
p.to_csv('owoce.csv')
print(p.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Olga to Maria
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   jabłko      4 non-null      int64
 1   pomarańcza  4 non-null      int64
 2   gruszka     4 non-null      int64
 3   kiwi        4 non-null      int64
 4   borówka     4 non-null      int64
dtypes: int64(5)
memory usage: 192.0+ bytes
None

In [7]:
owdf = pd.read_csv('owoce.csv',index_col=0)
owdf

,jabłko,pomarańcza,gruszka,kiwi,borówka
Olga,8,2,1,0,2
Jarek,6,2,0,2,0
Karol,3,10,4,0,0
Maria,5,7,2,4,0

In [8]:
unsorted_df = pd.DataFrame(np.random.randn(13,3),index=[1,4,6,2,3,5,9,8,0,7,10,11,12], columns=['b','a','c'])
unsorted_df

,b,a,c
1,0.082297,-0.002043,-0.814769
4,0.173256,-0.561772,0.912531
6,-1.002639,0.960900,-0.792800
2,0.144071,1.302769,0.671668
3,0.967036,-0.745909,0.729212
5,1.218925,0.297138,-1.213332
9,0.924945,-0.469553,-0.844058
8,-0.282861,-0.524181,2.339705
0,1.452817,0.724813,-0.406565
7,-1.488975,0.492640,1.150375
10,-0.504337,1.524684,0.613874
11,0.754018,0.736567,-0.203847
12,-0.592644,-0.048450,0.876245

In [9]:
sorted_df = unsorted_df.sort_index(ascending=False)
sorted_df

,b,a,c
12,-0.592644,-0.048450,0.876245
11,0.754018,0.736567,-0.203847
10,-0.504337,1.524684,0.613874
9,0.924945,-0.469553,-0.844058
8,-0.282861,-0.524181,2.339705
7,-1.488975,0.492640,1.150375
6,-1.002639,0.960900,-0.792800
5,1.218925,0.297138,-1.213332
4,0.173256,-0.561772,0.912531
3,0.967036,-0.745909,0.729212
2,0.144071,1.302769,0.671668
1,0.082297,-0.002043,-0.814769
0,1.452817,0.724813,-0.406565

In [10]:
sorted_df.to_csv('sortowane.csv')