In [57]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame
import matplotlib.pyplot as plt

In [58]:
obj = pd.Series([4,7,-9,3])
obj

In [59]:
type(obj)

pandas.core.series.Series

In [60]:
obj.values

In [61]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [62]:
obj2 = pd.Series([45,6,8,9,12,34,6],index=['a','b','c','d','h','k','v'])
obj2

In [63]:
obj2.index

Index(['a', 'b', 'c', 'd', 'h', 'k', 'v'], dtype='object')

In [64]:
obj2['a']=222
obj2

In [65]:
obj2[obj2>10]

In [66]:
sdata = {'Warszawa':45120,'Kraków':41233,'Lublin':40999,'Gdańsk':39900}
obj3 = pd.Series(sdata)
obj3

In [67]:
miasta = ['Poznań','Kraków','Rzeszów','Lublin']
obj4 = pd.Series(sdata,index=miasta)
obj4

In [68]:
pd.isnull(obj4)

In [69]:
obj3+obj4

In [70]:
obj4.name = "liczba wniosków"
obj4.index.name = 'miasta'
obj4

In [71]:
data = {'miasto':['Warszawa','Warszawa','Warszawa','Kraków','Kraków','Kraków'],
        'rok':[2017,2018,2019,2018,2019,2020],
        'populacja':[2.7,2.75,3.05,0.85,0.9,1.01]}
frame = pd.DataFrame(data)
frame

,miasto,rok,populacja
0,Warszawa,2017,2.70
1,Warszawa,2018,2.75
2,Warszawa,2019,3.05
3,Kraków,2018,0.85
4,Kraków,2019,0.90
5,Kraków,2020,1.01

In [72]:
frame2 = pd.DataFrame(data,columns=['rok','miasto','populacja','faktor'],index=['jeden','dwa','trzy','cztery','pięć','sześć'])
frame2

,rok,miasto,populacja,faktor
jeden,2017,Warszawa,2.70,NaN
dwa,2018,Warszawa,2.75,NaN
trzy,2019,Warszawa,3.05,NaN
cztery,2018,Kraków,0.85,NaN
pięć,2019,Kraków,0.90,NaN
sześć,2020,Kraków,1.01,NaN

In [73]:
frame2['miasto']

In [74]:
frame2.rok

In [75]:
frame2['faktor'] = 9.9
frame2

,rok,miasto,populacja,faktor
jeden,2017,Warszawa,2.70,9.9
dwa,2018,Warszawa,2.75,9.9
trzy,2019,Warszawa,3.05,9.9
cztery,2018,Kraków,0.85,9.9
pięć,2019,Kraków,0.90,9.9
sześć,2020,Kraków,1.01,9.9

In [76]:
frame2['faktor'] = np.arange(6.)
frame2

,rok,miasto,populacja,faktor
jeden,2017,Warszawa,2.70,0.0
dwa,2018,Warszawa,2.75,1.0
trzy,2019,Warszawa,3.05,2.0
cztery,2018,Kraków,0.85,3.0
pięć,2019,Kraków,0.90,4.0
sześć,2020,Kraków,1.01,5.0

In [77]:
frame2['faktor'] = np.array([5.7,0.99,1.,2.,45.6,21.009])
frame2

,rok,miasto,populacja,faktor
jeden,2017,Warszawa,2.70,5.700
dwa,2018,Warszawa,2.75,0.990
trzy,2019,Warszawa,3.05,1.000
cztery,2018,Kraków,0.85,2.000
pięć,2019,Kraków,0.90,45.600
sześć,2020,Kraków,1.01,21.009

In [78]:
daty = pd.date_range("20231203",periods=6)
daty

DatetimeIndex(['2023-12-03', '2023-12-04', '2023-12-05', '2023-12-06',
               '2023-12-07', '2023-12-08'],
              dtype='datetime64[ns]', freq='D')

In [79]:
fr = pd.DataFrame(np.random.randn(6,4),index=daty, columns=list("ABCD"))
fr

,A,B,C,D
2023-12-03,0.629890,-0.309919,-1.780963,1.003112
2023-12-04,-1.600365,0.239915,0.187878,-0.266516
2023-12-05,0.422532,-0.277748,-0.316776,-1.092674
2023-12-06,0.952415,-0.521750,1.261738,0.422781
2023-12-07,-0.138403,0.269693,0.666631,0.160272
2023-12-08,1.385972,-0.914942,-0.936425,-1.059848

In [80]:
fr.head(2)

,A,B,C,D
2023-12-03,0.629890,-0.309919,-1.780963,1.003112
2023-12-04,-1.600365,0.239915,0.187878,-0.266516

In [81]:
fr.tail(3)

,A,B,C,D
2023-12-06,0.952415,-0.521750,1.261738,0.422781
2023-12-07,-0.138403,0.269693,0.666631,0.160272
2023-12-08,1.385972,-0.914942,-0.936425,-1.059848

In [82]:
tn = fr.to_numpy()
tn

In [83]:
type(tn)

numpy.ndarray

In [84]:
fr.describe()

,A,B,C,D
count,6.000000,6.000000,6.000000,6.000000
mean,0.275340,-0.252459,-0.152986,-0.138812
std,1.051547,0.453964,1.102753,0.834661
min,-1.600365,-0.914942,-1.780963,-1.092674
25%,0.001830,-0.468792,-0.781513,-0.861515
50%,0.526211,-0.293834,-0.064449,-0.053122
75%,0.871784,0.110499,0.546943,0.357153
max,1.385972,0.269693,1.261738,1.003112

In [85]:
fr.T

,2023-12-03,2023-12-04,2023-12-05,2023-12-06,2023-12-07,2023-12-08
A,0.629890,-1.600365,0.422532,0.952415,-0.138403,1.385972
B,-0.309919,0.239915,-0.277748,-0.521750,0.269693,-0.914942
C,-1.780963,0.187878,-0.316776,1.261738,0.666631,-0.936425
D,1.003112,-0.266516,-1.092674,0.422781,0.160272,-1.059848

In [86]:
fr.sort_index(axis=0,ascending=False)

,A,B,C,D
2023-12-08,1.385972,-0.914942,-0.936425,-1.059848
2023-12-07,-0.138403,0.269693,0.666631,0.160272
2023-12-06,0.952415,-0.521750,1.261738,0.422781
2023-12-05,0.422532,-0.277748,-0.316776,-1.092674
2023-12-04,-1.600365,0.239915,0.187878,-0.266516
2023-12-03,0.629890,-0.309919,-1.780963,1.003112

In [87]:
fr.sort_values(by="B",ascending=False)

,A,B,C,D
2023-12-07,-0.138403,0.269693,0.666631,0.160272
2023-12-04,-1.600365,0.239915,0.187878,-0.266516
2023-12-05,0.422532,-0.277748,-0.316776,-1.092674
2023-12-03,0.629890,-0.309919,-1.780963,1.003112
2023-12-06,0.952415,-0.521750,1.261738,0.422781
2023-12-08,1.385972,-0.914942,-0.936425,-1.059848

In [88]:
obj = pd.Series([4.5,7.2,-5.6,5],index=['d','a','w','h'])
obj

In [89]:
obj2 = obj.reindex(['a','w','b','d','q'])
obj2

In [90]:
obj3=pd.Series(['blue','yellow','purple'],index=[0,2,4])
obj3

In [96]:
obj4 = obj3.reindex(range(6),method='ffill')
obj4

In [105]:
data = pd.DataFrame(np.arange(16).reshape((4,4)),
                    index=['Kraków','Warszawa','Lublin','Katowice'],
                    columns=['cecha_1','cecha_2','cecha_3','cecha_4'])
data

,cecha_1,cecha_2,cecha_3,cecha_4
Kraków,0,1,2,3
Warszawa,4,5,6,7
Lublin,8,9,10,11
Katowice,12,13,14,15

In [106]:
data["cecha_3"]

In [107]:
data.loc['Kraków',['cecha_1','cecha_3']]

In [108]:
data.iloc[2,[3,0,1]]

In [109]:
data.iloc[[1,2],[3,0,1]]

,cecha_4,cecha_1,cecha_2
Warszawa,7,4,5
Lublin,11,8,9

In [110]:
data.loc[:"Lublin","cecha_3"]

In [113]:
data.iloc[:,:3][data.cecha_3>10]

,cecha_1,cecha_2,cecha_3
Katowice,12,13,14